/* Navbar */
.navbar {
	font-weight: bold;
	font-size: 16px;
	background: #303030;
	padding-top: 5px;
}

.navbar-inverse {
	font-weight: bold;
	font-size: 16px;
	background: #303030;
}

.navbar-collapse{
	padding-top: 12px;
}

.navbar-brand img{
	height: 55px;
}

.dropdown-menu{
	border-radius: 7px;
}


/* Container */
.container{
    margin-top: 91px;
}

.fa{
    padding:10px;
}

.container img {
    margin:20px 0px 30px 0px;
}


.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}